div.loginbox
  form(name="login", action="/login", method="post")
    input(type="text", name="roll_no")
    input(type="text", name="balance")
    input(type="password", name="password")
    input(type="submit", value="login")
